.InputBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 5px rgb(165, 0, 157);
    justify-content: space-between;
}

.InputBlock-input {
    width: 100%;
}

.InputBlock-button {
    width: 100px;
    background-color: rgb(43, 226, 134);
}